h1{
  font-size:16px;
  text-align:center;
}
footer{
text-align:center;
font-size:12px;
}
img{
width: 42px;
height:42px;
}
          blocos{
		width: 70%;
		justify-content: center;
		align-items: center;
		height: 50vh;
		background-color: black;
		margin-top: 21vh;
	}
	article1{
		background-color: blue;
		margin: 20px 0px 20px 20px;
		width: 250px;
		height: 200px;
	}
	article2{
		background-color: red;
		margin: 20px 0px 20px 20px;
		width: 250px;
		height: 200px;
	}
	aside1{
		background-color: #ff6b99;
		width: 100px;
		height: 100%;
		margin-left: 150px;
	}
	aside2{
		background-color: #00ff62;
		margin-left: 10px;
		width: 110px;
		height: 50vh;
		margin-top: 21vh;
	}
  
